
/*!
 * images/21bd8219a00d9cd8344fa2aff64eb7e1e0d54cba4811642c8b4f5a8ed237a3915139825dab9723d9a0a6d75f0f73648967a5b7b8dd937e16b4b373_12802.jpg
 */

.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://static-cse.canva.cn/blob/36788/Olympic-Games-pics-1.png");
  background-position: 50% 50%;
  background-size: 115%;
}

.u-section-1 .u-sheet-1 {
  min-height: 727px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 351px 591px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 12px 536px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 391px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 336px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 171px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 116px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 217px;
  }
}